*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Commissioner", sans-serif;
  -webkit-box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeSpeed;
  background-color: rgba(223, 223, 223, 0.158);
 
}

img,
picture,
video,
canvas,
svg {
  max-inline-size: 100%;
  block-size: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ol,
ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
}
